<div class="container mx-auto">
  <h1 class="text-2xl text-center my-8">👋 Hello world!</h1>

  <div class="mb-10">
    <h2 class="text-xl">Exercise 1</h2>
    <p class="my-4">Use cleave.js to format the input for card number</p>
    <div class="bg-gray-200 rounded p-4 flex items-center justify-around">
      <div>
        <label for="ex1-input" class="mr-4">Credit Card Number</label>
        <input id="ex1-input" type="text" class="w-64 px-4 py-3 mr-2 rounded">
      </div>
    </div>
  </div>

  <div class="mb-10">
    <h2 class="text-xl">Exercise 2</h2>
    <p class="my-4">Use cleave.js to format a french phone number</p>
    <div class="bg-gray-200 rounded p-4 flex items-center justify-around">
      <div>
        <label for="ex2-input" class="mr-4">Phone</label>
        <input id="ex2-input" type="text" class="w-64 px-4 py-3 mr-2 rounded">
      </div>
    </div>
  </div>

  <div class="mb-10">
    <h2 class="text-xl">Exercise 3</h2>
    <p class="my-4">Use flackpickr add a datepicker on the input (there is JS + CSS)</p>
    <div class="bg-gray-200 rounded p-4 flex items-center justify-around">
      <div>
        <label for="ex3-input" class="mr-4">Arrival date</label>
        <input id="ex3-input" type="text" class="w-64 px-4 py-3 mr-2 rounded">
      </div>
    </div>
  </div>

  <div class="mb-10">
    <h2 class="text-xl">Invent your own exercices</h2>
    <p class="my-4">A list of packages you would use</p>
    <p class="my-4">Each time, ask yourself : Does it have CSS ?</p>
    <p class="my-4">General advice : Look a the doc to understand how to interact with it</p>
    <ul class="list-disc pl-8">
      <li>A typing animation : <a class="text-red-500" target="_blank" href="https://github.com/mattboldt/typed.js/">Typed</a></li>
      <li>A trianglify algorithm for svg backgrounds : <a href="https://github.com/qrohlf/trianglify">Trianglify</a></li>
      <li>A video player : <a class="text-red-500" target="_blank" href="https://github.com/sampotts/plyr">Plyr</a></li>
      <li>A text editor : <a class="text-red-500" target="_blank" href="https://github.com/quilljs/quill">Quill</a></li>
      <li>A library that brings search / sort / etc feature on lists : <a class="text-red-500" target="_blank" href="https://github.com/javve/list.js">List.js</a></li>
      <li>Au audio library : <a class="text-red-500" target="_blank" href="https://github.com/goldfire/howler.js">Howler</a></li>
    </ul>
  </div>
</div>
